<div class="index-show">

    <h1>Edit Your Expense</h1>

        <ul class="break">
            <li>
                <form action="/transactions/<%= @transaction.id %>" method="post">

                <label></label>
                <input id="amountInput" type="text" name="amount" placeholder="e.g. 100" value="<%= sprintf "%.2f", @transaction.amount %>">

                <br>
                <br>
                
                <select name="merchant_id" class="own-width">
                <% @merchants.each do |merchant| %>
                  <option value="<%= merchant.id %>"><%= merchant.name %></option>
                <% end %>
                </select>

                <br>
                <br>

                <select name="category_id" class="own-width">
                <% @categories.each do |category| %>
                  <option value="<%= category.id %>"><%= category.name %></option>
                <% end %>
                </select>

                <br>
                <br>

                <label></label>
                <input id="dateInput" type="date" name="transaction_date" placeholder="e.g. Date of the purchase" value="<%= @transaction.transaction_date %>">

                <br>
                <br>
                
                <input type="submit" value="Update">

                </form>
            </li>
        </ul>

</div>